.brown{
    background-color: rgb(65, 25, 25);
}

.green{
    background-color: rgb(52, 153, 60);
}

.lightgreen{
    background-color: rgb(118, 216, 126);
}

.blue{
    background-color: rgb(58, 141, 209);
}

.lightblue{
    background-color: rgb(102, 168, 221);
}

.ultra-lightblue{
    background-color: rgb(167, 198, 223);
}


.grey{
    background-color: rgb(65, 65, 65);
}

.lightgrey{
    background-color: rgb(153, 153, 153);
}

.orange{
    background-color: rgb(228, 135, 14);
}

.gold{
    background-color: rgb(153, 139, 33);
}

.yellow{
    background-color: rgb(232, 203, 38);
}



